<!DOCTYPE html>
<html class="ui-page-login">

  <head>
    <meta charset="utf-8">
    <title>Shopex Onex B2B2C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
    <style>
    	body{
    		background-color: #FFFFFF;
    		height: 100%;
    	}
      .oauth-area {
        position: absolute;
        bottom: 20px;
        left: 0px;
        text-align: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
      }

      .oauth-area .oauth-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 30px 30px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0px 20px;
        /*-webkit-filter: grayscale(100%); */
        border: solid 1px #ddd;
        border-radius: 25px;
      }

      .oauth-area .oauth-btn:active {
        border: solid 1px #aaa;
      }

      .oauth-area .oauth-btn.disabled {
        background-color: #ddd;
      }
      
      /*登录css*/
     .logo_div{
     	text-align: center;
     	margin-top:2rem;
     }
     .logo{
     	width:6rem;
     	height:6rem;
     }
     .mui-input-row{
     	border-bottom: 1px solid #d9d9d9;
     }
     .login_img{
	     	width:1.2rem;
	     	height:1.4rem;
	     	margin-left: 1rem;
     }
     .mui-input-row{
     	display: flex;
     	flex-direction: row;
     	align-items: center;
     }
     .login_input{
     	border: 0px !important;
     	line-height: 2rem;
     	height: 2rem;
     	flex: 10;
     	margin: 0px !important;
     }
     .bbc-btn-warning{
     	background-color: #2ab673;
     	border: 1px solid #2AB673;
     }
     .register_div{
     	text-align: center;
     	padding-top: 1rem;
     	font-size: 0.9rem;
     }
     .register_text{
     	padding-right: 1rem;
     }
     .register_text span{
     	color: #b5e0df;
     }
     .tel-class
     {
     	text-align: center;
     }
     .tel-img{
     	width:0.8rem;
     	height: 0.8rem;
     }
     .email-img{
     	width:1.1rem;
     	height: 0.75rem;
     }
     .tel-label{
     	color:#a1a1a1;
     }
     .tel-value{
     	color: #2ab673;
     }
    </style>
  </head>

  <body>
<!--    <header class="page-header">
      <div class="header-title">会员登录</div>
      <i id="close_login" class="header-right txt-func">取消</i>
    </header>-->
    <div class="logo_div">
    	<img class="logo" src="../../img/login/logo.png"/>
    </div>
    <section class="container">
      <form id="login_form">
        <section>
          <div class="mui-input-row">
            <img class="login_img" src="../../img/login/login.png" />
            <input id="username" name="username" type="tel" value="" class="login_input" placeholder="请输入手机号">	
          </div>
          <div class="mui-input-row">
            <img class="login_img" src="../../img/login/psw.png" />
            <input id='password' name="password" type="password" class="mui-input-password login_input" placeholder="请输入密码">
          </div>
<!--          <div id="vcode_form" class="form-inline">
            <div class="mui-input-row form-inline-adaptive">
              <img class="login_img" src="../../img/login/code.png" />
              <input id='verify' name="verify" type="number" class="login_input" placeholder="请输入验证码">
              <div class="form-inline-unadaptive">
	              <img id="imgCode" width="100" height="30" src="">
	            </div>
            </div>
          </div>-->
          <div class="mui-input-row">
            <input id="account" type="text" value="" readonly="readonly" class="login_input" placeholder="记住密码">	
            <div id="autoLogin" class="mui-switch mui-active">
							<div class="mui-switch-handle"></div>
						</div>
          </div>
        </section>
      </form>
<!--      <section class="content-horizontal-padded content-right">
        <a id='forgetPassword' class="fontS font-orange">忘记密码</a>
      </section>-->
      <section class="content-horizontal-padded form-op-section">
        <button id='login' type="submit" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">登录</button>
      </section>
      <section class="content-horizontal-padded register_div">
        <a href="javascript:void(0);" id="reg" class="register_text">
        	<span>●</span> 个人注册
        </a>
        <a href="javascript:void(0);" id="regQY" class="register_text">
        	<span>●</span> 企业注册
        </a>
        <a href="javascript:void(0);" id="forgetPassword" class="register_text">
        	<span>●</span> 忘记密码？
        </a>
      </section>
      
      <section class="font-gray-20 sns-login">
        <div class="tel-class">
        	<img class="tel-img" src="../../img/login/tel.png"/>
        	<span class="tel-label">服务热线：</span>
        	<span class="tel-value">400-9999-542</span>
        </div>
        <div class="tel-class">
        	<img class="email-img" src="../../img/login/email.png"/>
        	<span class="tel-label">邮箱：</span>
        	<span class="tel-value">lvnengxia@jsjado.com</span>
        </div>
        <div class="section-container">
          
        </div>
      </section>
      
    </section>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/mui.enterfocus.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/sign.js"></script>
		<script src="../../js/md5.js"></script>
		<script type="text/javascript">
			mui.plusReady(function() {
				var regUrl = "_www/view/passport/register.html";
				var regQYUrl = "_www/view/passport/registerbycom.html";
				var forgetPwUrl = "_www/view/passport/forgetpassword.html";
				var urlImage = "http://crm.lvnengxia.cn/index.php?controller=LoginWeixin&action=ImgCode";
			
				mui.init({
		        swipeBack: true //启用右滑关闭功能
		    });
		   	var dangqianbanbenhao = plus.runtime.version;
				var xitong = null;
				if(mui.os.ios) {
					xitong = "IOS";
				} else {
					xitong = "Android";
				}
				jiachabanben("login", xitong, dangqianbanbenhao);
				function jiachabanben(type, xitong, dangqianbanbenhao) {
					var sid = localStorage.getItem("sid");
	    		var obj_sid = {};
					obj_sid["timestamp"] = new Date().getTime();
					obj_sid["method"] = config.apimethod.getversion;
    			obj_sid["version"] = config.apiversion;
    			console.log(JSON.stringify(obj_sid));
					var sign = GetSign(obj_sid);
					var param = {
				        queryData: {
				          'method': config.apimethod.getversion,
				          'sign':sign,
				          'timestamp':obj_sid["timestamp"]
				        },
				        method: 'POST'
				    }
					$.dataRequest(param, function(rs) {
						if(rs.rsp=="succ")
        		{
        			if(rs.data.android!=dangqianbanbenhao)
        			{
        				var zuixinbanben = rs.data.android;
								var btnArray = ['否', '是'];
								mui.confirm('当前版本:' + dangqianbanbenhao + ',最新版本:' + zuixinbanben, '确认更新', btnArray, function(e) {
									var genxinurl = rs.data.android_url;
									if(e.index == 1) {
		                var ua = navigator.userAgent.toLowerCase();
		                if(/iphone|ipad|ipod/.test(ua)) {
		                	plus.runtime.openURL(rs.data.ios_url);
		                }else
		                {
		                	var wt = plus.nativeUI.showWaiting('下载更新中，请勿关闭');
		                	var dtask = plus.downloader.createDownload(genxinurl, {}, function(d, status) {   
		                        if (status == 200) { // 下载成功   
		                            var path = d.filename;    
		                            plus.runtime.install(path);   
		                        } else { //下载失败   
		                            mui.alert("Download failed: " + status);
		                        }   
		                    });   
		                	dtask.start();  
		                }
									}
								})
        			}
        		}
					})
					/*mui.ajax("http://chb.yk56.net/WebService/APP_JianChaBanBen.ashx", {
						dataType: "json",
						type: "post",
						data: {
							"xitong": xitong,
							"dangqianbanbenhao": dangqianbanbenhao
						},
						success: function(data, status, xhr) {
							if(data.sign == '0') {
								if(type == "shezhi") {
									mui.alert("已是最新版本");
								};
							}
							if(data.sign == '1') {
								var zuixinbanben = data.zuixinbanben;
								var genxinurl = data.genxinurl;
								//var genxinurl = "http://main.chahuobao.net/chahuobao.apk";
								var btnArray = ['否', '是'];
								mui.confirm('当前版本:' + dangqianbanbenhao + ',最新版本:' + zuixinbanben, '确认更新', btnArray, function(e) {
									if(e.index == 1) {
										//plus.runtime.openURL(genxinurl);
		                var url = "http://main.chahuobao.net/chahuobao.apk"; // 下载文件地址   
		                var ua = navigator.userAgent.toLowerCase();
		                if(/iphone|ipad|ipod/.test(ua)) {
		                	plus.runtime.openURL(genxinurl);
		                }else
		                {
		                	var wt = plus.nativeUI.showWaiting('下载更新中，请勿关闭');
		                	var dtask = plus.downloader.createDownload(url, {}, function(d, status) {   
		                        if (status == 200) { // 下载成功   
		                            var path = d.filename;    
		                            plus.runtime.install(path);   
		                        } else { //下载失败   
		                            mui.alert("Download failed: " + status);   
		                        }   
		                    });   
		                	dtask.start();  
		                }
									}
								})
							}
						}
					});*/
				}
				
		    if(localStorage.getItem("autoLogin")&&localStorage.getItem("autoLogin")=="1"){
		    	if(localStorage.getItem("account")){
		    		if(localStorage.getItem("sid"))
		    		{
		    			var sid = localStorage.getItem("sid");
			    		var obj_sid = {};
							obj_sid["sid"] = sid;
							obj_sid["method"] = config.apimethod.getsidver;
	        		obj_sid["version"] = config.apiversion;
	        		console.log(JSON.stringify(obj_sid));
							var sign = GetSign(obj_sid);
							var param = {
						        queryData: {
						          'method': config.apimethod.getsidver,
						          'sign':sign,
						          'sid':sid
						        },
						        method: 'POST'
						    }
							$.dataRequest(param, function(rs) {
								console.log(JSON.stringify(rs));
								if(rs.rsp=="succ")
		        		{
		        			if(rs.data.status=="true")
		        			{
		        				clicked('_www/view/member/hyzx/hyzx.html');
		        			}
		        		}
							})
		    		}
		    	}
		    }
		    	
		    
		    //freshImg(); 
			  var autoLoginButton = document.getElementById('autoLogin');
				var isActive = '';
				mui('.mui-switch').each(function() {
					//toggle.classList.contains('mui-active') 可识别该toggle的开关状态
					isActive = this.classList.contains('mui-active') ? '1' : '0';
					/**
					* toggle 事件监听
					*/
					this.addEventListener('toggle', function(event) {
						//event.detail.isActive 可直接获取当前状态
						isActive = event.detail.isActive ? '1' : '0';
					});
				});
				mui(document.body).on('tap',".mui-btn",function(){
					var waiting = plus.nativeUI.showWaiting();
					var that = this;
					var username = document.getElementById('username').value;
					if(!username){
						mui.toast('请输入用户名');
						waiting.close();
						return;
					}
					var password = document.getElementById('password').value;
					if(!password){
						mui.toast('请输入密码');
						waiting.close();
						return;
					}
					if(!password){
						mui.toast('请输入密码');
						waiting.close();
						return;
					}
/*					var	verify = document.getElementById('verify').value;
					if(!verify){
						mui.toast('请输入验证码');
						waiting.close();
						return;
					}*/
					var val_obj = {};
					val_obj["account"] = username;
					val_obj["password"] = password;
					val_obj["autoLogin"] = isActive;
					val_obj["method"] = config.apimethod.login;
        	val_obj["version"] = config.apiversion;
					console.log(val_obj); 
					var sign = GetSign(val_obj);
					console.log(sign);
					console.log(config.apimethod.login);
					var param = {
		        queryData: {
		          'method': config.apimethod.login,
		          'sign':sign,
		          'account':username,
		          'password':password,
		          'autoLogin':isActive
		        },
		        method: 'POST'
		      }
					$.dataRequest(param, function(rs) {
			        console.log(JSON.stringify(rs));
			        waiting.close();
			        if(rs.rsp=="succ")
			        {
			        	if(rs.data.success=="true"){
			        		plus.nativeUI.toast(rs.data.message);
			        		localStorage.setItem('sid',rs.data.sid);
			        		localStorage.setItem('autoLogin',isActive);
			        		console.log(localStorage.getItem('sid'));
			        		if(isActive=='1')
			        		{
			        			localStorage.setItem('account',username);
			        			localStorage.setItem('password',password);
			        		}
			        		clicked('_www/view/member/hyzx/hyzx.html');
			        	}else
			        	{
			        		plus.nativeUI.toast("登录认证失败：" + rs.data.message);
									return;
			        	}
			        }else
			        {
			        	plus.nativeUI.toast("登录认证失败：" + rs.data);
								return;
			        }
			   });
				});
		
				mui(document.body).on('tap',"#imgCode",function(){
					freshImg();
				});
		
				mui(document.body).on('tap',"#reg",function(){
					clicked(regUrl,{
						'type': 'person'
					});
				})
		
				mui(document.body).on('tap',"#regQY",function(){
					clicked(regQYUrl,{
						'type': 'bussiness'
					});
				})
		
				mui(document.body).on('tap',"#forgetPassword",function(){
					clicked(forgetPwUrl);
				})
		
				function freshImg(){
					var code = Date.parse(new Date());
					document.getElementById('imgCode').src = urlImage+'&code='+code;
					console.log(document.getElementById('imgCode').src);
					document.getElementById('verify').value = '';
				}
				var backButtonPress = 0;
				mui.back = function(event) {
					backButtonPress++;
					if(backButtonPress > 1) {
						plus.runtime.quit();
					} else {
						plus.nativeUI.toast('再按一次退出应用');
					}
					setTimeout(function() {
						backButtonPress = 0;
					}, 1000);
					return false;
				};
			});
	</script>
  </body>

</html>
