<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/zepto.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/sign.js"></script>
		<script src="../js/md5.js"></script>
	    <script src="../js/template.min.js"></script>
	    <script src="../config.js"></script>
	    <script src="../js/app.js"></script>
	    <script src="../js/mipush.js"></script>
	</head>
	<body>
		31232
	</body>
	<script>
		var sign = GetSign({'mid':'','timestamp':''});
		console.log(sign);
		var param = {
	        queryData: {
	          'method': config.apimethod.arealist,
	          'sign':sign,
	          'mid':'',
	          'timestamp':''
	        },
	        method: 'POST'
	      }
		$.dataRequest(param, function(rs) {
	        console.log(JSON.stringify(rs));
	    });
	</script>>
</html>
